<section class="section">
    <div class="container avaibility-container">
        <div class="avaibility-wrap">
            <div>
                <p class="avaibility-prg">OUR PROJECT</p>
                <h2 class="avaibility-title">Check Availability</h2>
            </div>
            <div class="avaibility-wrap-one">
                <p class="avaibility-text">
                    The unique architect with ideas from outside the world. Where design
                    and science meet. With people’s comfort in mind
                </p>
                <div class="avaibility-line"></div>
            </div>
        </div>
        <div class="avaibility-wrap-two">
            <div class="avaibility-wrap-tabl">
                <table class="avaibility-table">
                    <tr class="tabl-current">
                        <td class="avaibility-tabl-title">Residence</td>
                        <td class="avaibility-tabl-title">Bed/Bath</td>
                        <td class="avaibility-tabl-title">SQ. FT.</td>
                        <td class="avaibility-tabl-title">Sale Price</td>
                        <td class="avaibility-tabl-title">Rent Price</td>
                        <td class="avaibility-tabl-title">Floor Plan</td>
                    </tr>
                    <tr class="tabl-current">
                        <td class="avaibility-residence">LUX APARTMENT</td>
                        <td class="avaibility-tabl-other">3/2</td>
                        <td class="avaibility-tabl-other">110</td>
                        <td class="avaibility-tabl-other">$350,000</td>
                        <td class="avaibility-tabl-other">$2,500</td>
                        <td class="avaibility-tabl-view">VIEW NOW</td>
                    </tr>
                    <tr class="tabl-current">
                        <td class="avaibility-residence">GREEN VILLA</td>
                        <td class="avaibility-tabl-other">3/3</td>
                        <td class="avaibility-tabl-other">1120</td>
                        <td class="avaibility-tabl-other">$194,000</td>
                        <td class="avaibility-tabl-other">$3,500</td>
                        <td class="avaibility-tabl-view">VIEW NOW</td>
                    </tr>
                    <tr class="tabl-current">
                        <td class="avaibility-residence">PENTHOUSE</td>
                        <td class="avaibility-tabl-other">3/3</td>
                        <td class="avaibility-tabl-other">320</td>
                        <td class="avaibility-tabl-other">$240,000</td>
                        <td class="avaibility-tabl-other">$2,500</td>
                        <td class="avaibility-tabl-view">VIEW NOW</td>
                    </tr>
                    <tr class="tabl-current">
                        <td class="avaibility-residence">SPA LUXURY</td>
                        <td class="avaibility-tabl-other">3/3</td>
                        <td class="avaibility-tabl-other">520</td>
                        <td class="avaibility-tabl-other">$520,000</td>
                        <td class="avaibility-tabl-other">$9,000</td>
                        <td class="avaibility-tabl-view">VIEW NOW</td>
                    </tr>
                    <tr class="tabl-current">
                        <td class="avaibility-residence">DUPLEX 13A</td>
                        <td class="avaibility-tabl-other">3/3</td>
                        <td class="avaibility-tabl-other">50</td>
                        <td class="avaibility-tabl-other">$150,000</td>
                        <td class="avaibility-tabl-other">$1,900</td>
                        <td class="avaibility-tabl-view">VIEW NOW</td>
                    </tr>
                    <tr class="tabl-current">
                        <td class="avaibility-residence">STUDIO 8A</td>
                        <td class="avaibility-tabl-other">3/3</td>
                        <td class="avaibility-tabl-other">99</td>
                        <td class="avaibility-tabl-other">$50,000</td>
                        <td class="avaibility-tabl-other">$900</td>
                        <td class="avaibility-tabl-view">VIEW NOW</td>
                    </tr>
                    <tr>
                        <td class="avaibility-residence">SIMPLEX 12A8</td>
                        <td class="avaibility-tabl-other">3/3</td>
                        <td class="avaibility-tabl-other">100</td>
                        <td class="avaibility-tabl-other">$120,000</td>
                        <td class="avaibility-tabl-other">$1,000</td>
                        <td class="avaibility-tabl-view">VIEW NOW</td>
                    </tr>
                </table>
            </div>
            <img class="avaibility-img" srcset="
          ./img/avaibility/avaibility-1.jpg    1x,
          ./img/avaibility/avaibility-1-2x.jpg 2x
        " src="./img/avaibility/avaibility-1.jpg" alt="avaibility" />
        </div>
    </div>
</section>