<section class="section" id="architecture">
    <div class="container experience-container">
        <div class="experience-wrap">
            <h2 class="experience-title">We Create Digital Experience</h2>
            <ul class="experience-list">
                <li class="experience-list-item">
                    <h3 class="experience-item-title">75<span>%</span></h3>
                    <p class="experience-item-text">Architecture</p>
                </li>
                <li class="experience-list-item">
                    <h3 class="experience-item-title">85<span>%</span></h3>
                    <p class="experience-item-text">Construction</p>
                </li>
                <li class="experience-list-item">
                    <h3 class="experience-item-title">65<span>%</span></h3>
                    <p class="experience-item-text">Interior Design</p>
                </li>
            </ul>
            <button class="experience-btn" type="button">Lets work together</button>
        </div>
        <img class="experience-img" srcset="
        ./img/experience/experience.png    1x,
        ./img/experience/experience-2x.png 2x
      " src="./img/experience/experience.png" alt="experience" />
    </div>
</section>