<footer class="section">
    <div class="container footer-container">
        <div class="footer-wrap_one">
            <div class="footer-wrapper">
                <a href="./">
                    <svg class="footer-icon" width="138px" height="50px">
                        <use href="./img/sprite.svg#icon-herro"></use>
                    </svg>
                </a>
                <p>
                    Take a look at how we designed this housesimply random text. It has
                    roots in a piece of classical Latin literature from 45 BC, making it
                    over 2000 years old.
                </p>
            </div>
            <div class="footer-current"></div>
            <ul class="footer-list_one">
                <li><a href="./">THE STUDIO</a></li>
                <li><a href="./">pROJECTS</a></li>
                <li><a href="./">architecture</a></li>
                <li><a href="./">Blog</a></li>
                <li><a href="./">Contact</a></li>
            </ul>
            <div class="footer-current"></div>
            <ul class="footer-list_two">
                <li>
                    <h3>Visit</h3>
                    <p>Logan Barker, 865 Oak Boulevard, Elk Grove, Vermont 95184</p>
                </li>
                <li>
                    <h3>Call</h3>
                    <a href="tel:01761531774">017-6153-1774</a>
                </li>
            </ul>
        </div>
        <div class="footer-wrap_two">
            <p>© Copyright 2022 Email:</p>
            <a href="mailto:Asibulasik@gmail.com">Asibulasik@gmail.com</a>
        </div>
    </div>
</footer>
<button class="btn-scroll_up" type="button">
    <svg width="25px" height="25px">
        <use href="./img/sprite.svg#icon-arrow-up"></use>
    </svg>
</button>