<section class="section">
    <div class="container services-container">
        <h3 class="services-text">TOP SERVICES</h3>
        <h2 class="services-title">Our Specializations</h2>
        <div class="swiper swiper-container mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide services-item">
                    <a href="./">
                        <img class="services-item-img" srcset="
                ./img/services/services-1.jpg    1x,
                ./img/services/services-1-2x.png 2x
              " src="./img/services/services-1.jpg" alt="Floor plan" />
                        <div class="services-item-container">
                            <h3 class="services-item-title">Floor plan</h3>
                            <p class="services-item-text">
                                Tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide services-item">
                    <a href="./">
                        <img class="services-item-img" srcset="
                ./img/services/services-2.jpg    1x,
                ./img/services/services-2-2x.jpg 2x
              " src="./img/services/services-2.jpg" alt="Interior Design" />
                        <div class="services-item-container">
                            <h3 class="services-item-title">Interior Design</h3>
                            <p class="services-item-text">
                                Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide services-item">
                    <a href="./">
                        <img class="services-item-img" srcset="
                ./img/services/services-3.jpg    1x,
                ./img/services/services-3-2x.jpg 2x
              " src="./img/services/services-3.jpg" alt="Architecture Design" />
                        <div class="services-item-container">
                            <h3 class="services-item-title">Architecture Design</h3>
                            <p class="services-item-text">
                                Tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide services-item">
                    <a href="./">
                        <img class="services-item-img" srcset="
                ./img/services/services-4.jpg    1x,
                ./img/services/services-4-2x.jpg 2x
              " src="./img/services/services-4.jpg" alt="Construction" />
                        <div class="services-item-container">
                            <h3 class="services-item-title">Construction</h3>
                            <p class="services-item-text">
                                Tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>