<section class="section">
    <div class="container">
        <p class="team-prg">OUR team</p>
        <h2 class="team-title">Meet With Our Team</h2>
        <img class="team-img" srcset="./img/team/team-1.jpg 1x, ./img/team/team-1-2x.jpg 2x" src="./img/team/team-1.jpg"
            alt="team" />
        <ul class="team-list">
            <li class="team-current">Cody Fisher - CEO</li>
            <li class="team-current">Savannah Nguyen - Interior architect</li>
            <li class="team-current">Jerome Bell - Interior</li>
            <li class="team-current">Cameron Williamson - architect</li>
            <li class="team-current">Marvin McKinney - COnstruction head</li>
        </ul>
    </div>
</section>