/* Reset styles */
body {
  background: rgba(36, 38, 45);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
}

.section {
  padding-top: 80px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 30px;
  }

  .section {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 50px;
  }

  .section {
    padding-top: 140px;
  }
}